table.tablesorter {
  margin-top: 0px;
}

.content {
  margin-top: 70px;
}

tr {
  font-weight: bold;
}

tr.drafted {
  color: gray;
  font-weight: normal;
}

#team {
  border: double black;
  padding: 20px;
  width: 200px;
}

#recommend {
  border: double black;
  margin-top: 20px;
  padding: 20px;
  width: 200px;
}
